html,
body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    overflow-y: scroll;
}

section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    position: fixed;
    height: 56px;
    min-width: 800px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    border-color: #f0f0f0;
}

article {
    padding-top: 57px;
    background: #fff;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 56px !important;
    padding: 0;
    border: 1px solid #f0f0f0;
    background-color: #fff;
}

.headerTitle {
    display: flex;
    align-items: center;
    width: 100px;
    flex-grow: 1;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 25px 0px 20px;
    letter-spacing: 2px;
    color: #ea6f5a;
    height: 56px;
}

.mainFooter {
    margin: 20px 0px 0px;
    min-width: 650px;
    background: #404040;
    color: rgba(255, 255, 255, 0.67);
}

.headerContent {
    display: flex;
    flex-grow: 3;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 0;
}

.headerContent ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 17px;
    color: #333;
}

@media(min-width:1440px) {
    .searchBox {
        width: 400px !important;
    }
    .midContent {
        max-width: 960px;
    }
}

@media(min-width:1360px) {
    .searchBox {
        width: 300px !important;
    }
    .midContent {
        max-width: 960px;
    }
}

@media(max-width:870px) {
    .searchBox {
        width: 100px !important;
    }
}

@media(max-width:740px) {
    .headBar {
        display: flex !important;
        justify-content: flex-start;
        flex-grow: 10;
        transform: translateX(-40px);
    }
    .headerContent {
        display: none !important;
    }
}

.headBar {
    display: none;
    margin-left: 0;
}

.headerContent ul>li {
    margin: 0 20px;
    color: #333 !important;
}


/*.headerContent ul>li :hover {
    background: #f0f0f0 !important;
}*/

.headerContent ul>li :focus {
    text-decoration: none;
    color: #ea6f5a !important;
}

.midContent {
    height: 100%;
    /* min-height: 720px; */
    max-width: 960px;
    margin: 0 auto;
    padding: 0 -15px;
}

.footer {
    margin: 20px auto 0;
    padding: 20px;
}

.infoRow1 {
    display: flex;
    justify-content: center;
    padding-right: 0;
    font-size: 13px;
}

.infoRow1 a {
    color: rgba(255, 255, 255, 0.67);
    margin: auto 10px;
}

.infoRow2 {
    display: flex;
    justify-content: center;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.67);
    margin: 10px auto 0;
}

.searchBox {
    width: 100%;
    overflow-x: hidden;
}

.searchBox input {
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 36px;
    font-size: 14px;
    border: 1px solid #eee;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    outline: none;
    background: #eee;
    transition: width .5s;
    -moz-transition: width .5s;
    /* -webkit-transition: width .5s; */
    -o-transition: width .5s;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
}

.searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchGlass {
    align-items: center;
    line-height: 36px;
    vertical-align: middle;
    padding-right: 16px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #969696;
    background: #eee;
}

:global .ant-layout-header {
    line-height: 56px;
}

.header_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    width: 332px;
    padding: 0 10px;
}

.Aa {
    color: gray;
    padding: 0 15px;
    font-size: 15px;
}

.userImg {
    border: 1px solid #eee;
    border-radius: 50%;
}

.userSpan {
    display: flex;
    align-items: center;
    width: 80px;
    height: 56px;
    line-height: 56px;
    margin: auto 10px;
}

.userSpan:hover {
    background: #f0f0f0 !important;
}

.userSpan:hover ul {
    display: block !important;
}

.userSpan .dropMenu {
    left: auto;
    border-radius: 0px 0px 4px 4px;
}

.dropFlag {
    /* display: none; */
    margin: auto 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #999;
}

.miniDropMenuList {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    justify-content: center;
    flex-direction: column;
    float: left;
    width: 300px;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    background-clip: padding-box;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    border-color: transparent;
}

.miniDropMenuList li {
    display: flex;
    align-items: center;
    line-height: 50px !important;
    font-size: 16px;
    /*padding: 8px 6px !important;*/
}

.miniDropMenuList li:hover {
    background: #f0f0f0;
}

.dropMenu li>a>a>i {
    margin: 0 20px;
    font-size: 18px;
    color: #ea6f5a !important;
}

.dropMenu {
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    background-clip: padding-box;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    border-color: transparent;
}

.dropMenu li {
    display: flex;
    align-items: center;
    line-height: 48px !important;
    /*padding: 8px 6px !important;*/
}

.dropMenu li:hover {
    background: #f0f0f0;
}

.dropMenu li>a {
    width: 100%;
    /*color: #ea6f5a !important;*/
}

.dropMenu li>a>i {
    margin: 0 20px;
    font-size: 18px;
    color: #ea6f5a !important;
}

.dropMenu li>a>span {
    font-size: 12px;
    color: #333;
}

.ball {
    width: 40px;
    height: 40px;
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #e05244;
    border-radius: 50%;
    color: #FFF;
    background: #e05244;
}

:global .header_button button {
    height: 38px;
    width: 80px;
    margin: 0 6px;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 20px;
    font-size: 15px;
}

:global .header_button .acticle {
    height: 38px;
    width: 100px !important;
    margin: 0 6px;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 20px;
    font-size: 15px;
}

:global .ant-menu-horizontal>.ant-menu-item>a {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.65);
}

 :global .ant-menu-horizontal>.ant-menu-item-selected {
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}

:global .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom: 2px solid #fff !important;
    color: #fff !important;
}

:global .ant-menu-horizontal>.ant-menu-item-active {
    background-color: #49a9ee;
}