.row {
    margin: 10px -15px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    vertical-align: middle;
    border-radius: 1%;
}

.rowLeft {
    display: block;
    min-width: 525px;
}

.rowRight {
    display: block;
}

@media(max-width:810px) {
    .rowRight {
        display: none !important;
    }
    .rowLeft {
        display: block;
        width: 100%;
        min-width: 660px;
    }
}