:global .ant-carousel .slick-slide {
    text-align: center;
    height: 272px;
    line-height: 272px;
    background: #ea6f5a;
    overflow: hidden;
}

:global .ant-carousel .slick-slide h3 {
    color: #fff;
}