.hotTop {
    height: 272px;
}

.hotTop ul {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.hotTop li {
    height: 46px;
    line-height: 46px;
    margin: 5px 0;
    padding: 0 20px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
}

.hotTop a {
    color: #f0f0f0;
    font-weight: bold;
    font-style: oblique;
}